html {
    background-color: rgb(216, 247, 255);
    font-family: "Manrope", sans-serif;
}

header h1 {
    color: rgb(34, 50, 54);
    font-weight: 800;
    font-size: 40px;
    margin: 5px 0px 5px 30px;
    padding: 5px;
}
main {
    margin: 0px 0px 0px 30px;
}
.link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}
.link-container a {
    color:  rgb(34, 50, 54);
}